@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container{
    .introBox{
        font-family: 'Lato', sans-serif;
        margin-top: 15px;
        color: #fff;
        font-size: 18px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 4s ease, visibility 0s linear 1s;
        .introBox_Letter{
            span{
                animation: wave-animation 2s infinite;
            }
            .introBox_self{
                margin-top: 3rem;
                .introBox_self_goal{
                    display: flex;
                    justify-content: center;
                    color: rebeccapurple;
                    padding-top: 1rem;
                    padding-bottom: 1.2rem;
                    font-size: 42px;
                    font-weight: 700;
                }
            }
        }
      
    }
    .nameBox:hover + .introBox {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
}

@keyframes wave-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }


:root {
    --clr: #00ff0a; /* 원하는 색상 값 */
}