@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
a {
  color: #fff;
  text-decoration: none;
}

.container_port {
  z-index: 10;
  height: 1200px;
  width: 100%;
  background: url(../bg2.jpg);
  background-size: cover;
  overflow: hidden;
}
.container_port h1 {
  font-size: 80px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #afaeae 0px 0px 5px, #a1a1a1 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  padding-top: 7rem;
}
.container_port i {
  animation: none;
  background: none;
  height: 0;
  top: 100px;
}
.container_port .bubbles {
  position: relative;
  display: flex;
}
.container_port .bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(79, 195, 220, 0.2666666667), 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: bubbleAni 10s linear infinite;
  animation-duration: calc(110s / var(--i));
}
.container_port .bubbles span:nth-child(even) {
  background-color: #FF2D75;
  box-shadow: 0 0 10px #f51a67, 0 0 50px #c7255e, 0 0 100px #ec1761;
}
.container_port .cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.container_port .cardBox .card:hover {
  background-color: rgba(238, 71, 149, 0.7);
  border: 6px solid rgba(250, 53, 145, 0.7);
  box-shadow: rgba(209, 138, 171, 0.8) 0px 7px 12px, rgba(238, 71, 149, 0.3) 0px 7px 13px -3px, rgba(238, 71, 149, 0.2) 0px -3px 0px inset;
  height: 500px;
  width: 400px;
  transition: 1s;
}
.container_port .cardBox .card:hover .card_img {
  width: 200px;
  height: 220px;
  transition: 0.7s;
}
.container_port .cardBox .card:hover .card_detail {
  display: flex;
  transition: 2s;
}
.container_port .cardBox .card {
  border: 6px solid black;
  font-family: "Anton", sans-serif;
  position: relative;
  width: 350px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  margin-left: 2rem;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.6);
}
.container_port .cardBox .card .card_img {
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
  width: 160px;
  height: 180px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}
.container_port .cardBox .card .card_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.container_port .cardBox .card .card_content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
}
.container_port .cardBox .card .card_content span {
  margin-bottom: 0.4rem;
  font-size: 26px;
  color: #555;
  line-height: 1.2em;
  opacity: 0.7;
}
.container_port .cardBox .card .card_detail {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_detail_used {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 24px;
}

.card_detail_link {
  margin-top: 1em;
  font-size: 22px;
  z-index: 100;
}

.card_detail_link:hover {
  margin-top: 1.5em;
}

.card_detail_link span:hover {
  font-size: 28px;
  color: #FFFFFF;
  text-shadow: 0 0 5px #b9b9b9, 0 0 10px #9e9e9e, 0 0 15px #8b8b8b, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.card_detail_link :nth-child(1) {
  margin-right: 0.4rem;
}

.card_detail_tool {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 24px;
}

.cardBox .card:hover .card_content span {
  font-size: 40px;
  transition: 2s;
  color: #ffd829;
  text-shadow: 0 0 7px #f7de70, 0 0 10px #d3c68c, 0 0 21px #fdf3c4;
}

.cardBox .card:nth-of-type(2):hover {
  background-color: rgba(86, 252, 45, 0.7);
  border: 6px solid rgba(84, 252, 42, 0.7);
  box-shadow: rgba(61, 187, 30, 0.8) 0px 7px 12px, rgba(67, 202, 33, 0.3) 0px 7px 13px -3px, rgba(62, 211, 25, 0.2) 0px -3px 0px inset;
}

.cardBox .card:nth-of-type(3):hover {
  background-color: rgba(52, 38, 252, 0.7);
  border: 6px solid rgba(39, 25, 231, 0.7);
  box-shadow: rgba(39, 25, 231, 0.8) 0px 7px 12px, rgba(28, 20, 136, 0.3) 0px 7px 13px -3px, rgba(28, 18, 173, 0.2) 0px -3px 0px inset;
}

@keyframes bubbleAni {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(1vh) scale(1);
  }
}/*# sourceMappingURL=port.css.map */